﻿@model DAPP_Model.ERiskDApp.MyDevices
@{
    ViewBag.Title = "My Devices";
}
<link href="~/Content/DeviceDetails.css" rel="stylesheet" />
<script src="~/DAppScripts/DeviceDetails.js"></script>
@*<script src="~/Scripts/DAppScripts/DeviceDetails.js"></script>*@

<section class="content">
    <h4> Summary </h4>
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-4 col-sm-7 col-xs-12">
            <div class="info-box bg-Custom-green">
                <span class="info-box-icon"><img class="img img-responsive" src="~/Content/Images/Total_devices.svg" /></span>
                <div class="info-box-content  pull-right">
                    <span class="info-box-number">@Html.DisplayFor(m => m.TotalDevices)</span>
                    <span class="info-box-text">Total Devices</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-7 col-xs-12">
            <div class="info-box bg-Custom-red">
                <span class="info-box-icon bg-dark-green"><img class="img img-responsive" src="~/Content/Images/Blockchain.svg" /></span>
                <div class="info-box-content bg-light-green pull-right">
                    <span class="info-box-number" id="OnBlockChainId">@Html.DisplayFor(m => m.OnBlockChain)</span>
                    <span class="info-box-text">On Blockchain</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-7 col-xs-12">
            <div class="info-box bg-Custom-blue">
                <span class="info-box-icon"><img class="img img-responsive" src="~/Content/Images/Progress_chart.svg" /></span>
                <div class="info-box-content pull-right">
                    <span class="info-box-number" , id="InProgessId">@Html.DisplayFor(m => m.InProgress)</span>
                    <span class="info-box-text">In Progress</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<br />



<div class="box box-info">
    <div class="box-header with-border">
        <h3 id="GridHeader" class="box-title">Devices on Blockchain</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive" id="DevicesGrid" style="overflow:auto !important">
            @*@{Html.RenderPartial("DeviceListPartial");}*@
        </div>
    </div>
</div>

<div id="LogsListId" class="LogDetails" tabindex="-1" role="dialog">
    <div id="Logs">
        <div class="content-header logheader">
            <div class="row">
                <h4 class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-xs-offset-2 col-sm-offset-2" style="text-align:center!important">Logs</h4>
                <span class="col-lg-1 col-md-1 col-sm-2 col-xs-2 close" onclick="CloseLogs()">&times;</span>
            </div>
        </div>
        <div class="content LogContent">
            <div id="LogsList"></div>
        </div>
    </div>
</div>
@*</section>
    </section>*@


