﻿@using Microsoft.AspNetCore.Http;
<script src="~/js/underscore-min.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>


@(Html.DevExtreme().DataGrid<DAPP_Model.EDMX_MySql.Devicedetails>()
                            .ID("griddevice")
                            .DataSource(d => d
                                .Mvc()
                                .Controller("DevicedetailsGridAPI")
                                .LoadAction("DeviceDetails")
                                .Key("Id")
                                .LoadParams(new { Username = Context.Session.GetString("Username") })
                            )
                            .RemoteOperations(true)
                            .Columns(columns =>
                            {

                                columns.AddFor(m => m.HashId)
                           .Caption("Hash Id");

                                columns.AddFor(m => m.AgentName)
                           .Caption("Agent Name");


                                columns.AddFor(m => m.Macaddress)
                           .Caption("MAC ID");

                                columns.AddFor(m => m.DeviceCreatedAt)
                           .Caption("Time Stamp");

                                columns.AddFor(m => m.Biosid)
                           .Caption("BIOS ID");

                                columns.Add().DataField("Id").Caption("")
                           .CellTemplate(@<text> <a href="@Url.Action("Edit")/<%= data.Id%>" onclick="ViewLogDetails('<%= data.Id%>'); return false;">View Log</a> </text>)
                                                       .Alignment(HorizontalAlignment.Center);

                                                        })
                                                        .FilterRow(f => f.Visible(true))
                                                        .HeaderFilter(f => f.Visible(true))
                                                        .GroupPanel(p => p.Visible(true))
                                                        //.Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                                                        //.Height(500)
                                                        .ShowBorders(true)
                                                        .Grouping(g => g.AutoExpandAll(false))
                                                        .Paging(paging => paging.PageSize(10))
                                                        .Pager(pager =>
                                                        {
                                                            pager.ShowPageSizeSelector(true);
                                                            pager.AllowedPageSizes(new List<int> { 5, 10, 20 });
                                                            pager.ShowInfo(true);
                                                        })
                                                        .FilterPanel(f => f.Visible(true))

)



@*@Html.DevExtreme().DataGrid()settings =>
    {
        settings.Name = "DeviceList";
        settings.KeyFieldName = "Id";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.CallbackRouteValues = new { Controller = "Mydevices", Action = "DeviceListPartial" };

        settings.EnableRowsCache = false;


        //settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        //settings.Settings.VerticalScrollableHeight = 350;
        //settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
        //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;


        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Auto;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsContextMenu.EnableRowMenu = DefaultBoolean.False;

        settings.SettingsBehavior.AllowDragDrop = true;
        settings.SettingsBehavior.AllowGroup = true;
        settings.SettingsBehavior.AllowSort = true;
        settings.Settings.ShowGroupPanel = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.AllowFocusedRow = true;

        //row filter settings
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowFilterRowMenu = true;

        //paggig settings
        settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "20", "50", "100", "200", "500", "1000", "2000" };
        settings.SettingsPager.PageSize = 15;

        //settings.SettingsBehavior.EnableCustomizationWindow = true;


        //settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        //settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
        //settings.EditFormLayoutProperties.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
        //settings.EditFormLayoutProperties.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 600;
        //settings.SettingsBehavior.AllowEllipsisInText = true;


        //cookie setting
        //settings.SettingsCookies.StoreFiltering = true;
        //settings.SettingsCookies.StoreGroupingAndSorting = true;
        //settings.SettingsCookies.StorePaging = true;
        //settings.SettingsCookies.Enabled = true;
        //settings.SettingsCookies.StoreColumnsVisiblePosition = true;
        //settings.Styles.LoadingPanel.CssClass = "GridLoadingPanel";
        settings.SettingsLoadingPanel.Text = "";
        settings.Images.LoadingPanel.Url = "~/Content/gif/Loader.gif";

        settings.Columns.Add(column =>
        {
            column.Caption = "History";
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                    Html.ActionLink("View Log", "Logs", "Mydevices", new { @onclick = "ViewLogDetails(" + DataBinder.Eval(c.DataItem, "Id") + "); return false;" })
                    );
                    });
                    column.Settings.AllowDragDrop = DefaultBoolean.False;
                    column.Settings.AllowSort = DefaultBoolean.False;
                    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    //column.Width = System.Web.UI.WebControls.Unit.Percentage(16.6);

                    });

                    settings.Columns.Add(column =>
                    {
                    column.Caption = "Hash ID";
                    column.FieldName = "HashId";

                    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    //column.Width = System.Web.UI.WebControls.Unit.Percentage(16.6);

                    });
                    settings.Columns.Add(column =>
                    {
                    column.Caption = "Agent Name";
                    column.FieldName = "AgentName";
                    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    //column.Width = System.Web.UI.WebControls.Unit.Percentage(16.6);

                    });
                    settings.Columns.Add(column =>
                    {
                    column.Caption = "MAC ID";
                    column.FieldName = "MACAddress";
                    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    //column.Width = System.Web.UI.WebControls.Unit.Percentage(16.6);

                    });
                    settings.Columns.Add(column =>
                    {
                    column.Caption = "Time Stamp";
                    column.FieldName = "DeviceCreatedAt";
                    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    //column.Width = System.Web.UI.WebControls.Unit.Percentage(16.6);

                    });
                    settings.Columns.Add(column =>
                    {
                    column.Caption = "BIOS ID";
                    column.FieldName = "BIOSId";
                    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    //column.Width = System.Web.UI.WebControls.Unit.Percentage(16.6);

                    });


                    settings.SettingsPager.NumericButtonCount = 6;
                    settings.Styles.Cell.Wrap = DefaultBoolean.False;

                    }).Bind(Model).GetHtml()*@

