﻿@model DAPP_Model.ERiskDApp.ResourceShareSettingsModel
@{
    ViewBag.Title = "Setting";
}
<head>
    <title></title>
    <script src="~/DAppScripts/ResourceShareSetting.js"></script>
    <link href="~/Content/ResourceShareSetting.css" rel="stylesheet" />
</head>
<section class="content">
    <div class="panel panel-default">
        <div class="row">
            @Html.Label("TurnOffFor", "Turn off Resource Sharing", new { @class = "label col-md-3 col-xs-6 col-sm-6  " })
            <div class="col-md-3 col-xs-12 col-sm-12 col-xs-offset-1">
                <label class="radio-inline label" id="RadioId">
                    @Html.RadioButtonFor(m => m.TurnOffFor, 1, new { @type = "radio", @id = "NoneId", @onclick = "DisbleDeviceLst()" })<span>None</span>
                </label>
            </div>
        </div><div style="margin-top:2%!important"></div>
        <div class="row">
            <div class="col-md-offset-4 col-md-9 col-xs-offset-1 col-xs-10 col-sm-10">
                <label class="radio-inline label" id="RadioId">
                    @Html.RadioButtonFor(m => m.TurnOffFor, 2, new { @type = "radio", @id = "SelectDevId", @onclick = "EnableDeviceLst()" })<span>For selected devices</span>
                </label>
                <div class="col-md-4 pull-right col-xs-12 col-sm-12 DeviceDiv">
                    @Html.DropDownListFor(m => m.DeviceId, new SelectList(Model.DeviceNamelst, "Id", "Text"), "-- Select Device --", new { @id = "DevicesLst", @class = "form-control", @name = "DevicesLst" })
                    @* @Html.DropDownListFor(m => m.DeviceId, new SelectList(Model.DeviceNamelst), "-- Select Device --", new { @id = "DevicesLst", @class = "form-control", @name = "DevicesLst", @disabled = "disabled" })*@
                </div>
            </div>
        </div><div style="margin-top:2%!important"></div>
        <div class="row">
            <div class="col-md-offset-4 col-md-9 col-xs-offset-1">
                <label class="radio-inline label" id="RadioId">
                    @Html.RadioButtonFor(m => m.TurnOffFor, 3, new { @type = "radio", @id = "AllDev", @onclick = "DisbleDeviceLst()" })<span>For all devices</span>
                </label>
            </div>
        </div><div style="margin-top:2%!important"></div>
        <div class="row">
            @Html.Label("TurnOffFrom", "Deactive Resource Sharing From", new { @class = "label col-md-4 col-xs-12 col-sm-12  " })
            <div>
                <div class="col-md-2 col-lg-3 col-xs-7 col-sm-7 DeactiveFrom">
                    @Html.TextBoxFor(m => m.TurnOffFrom, new { @id = "DeactiveFromId", @class = "textbox", @type = "time", @step = "1" })
                </div>
                <div class="col-md-1 col-lg-1 col-xs-2 col-sm-2" style="margin-top:0.3%!important;text-align:center">To</div>
                <div class="col-lg-3 col-md-2 col-xs-10 col-sm-10 DeactiveTo">
                    @Html.TextBoxFor(m => m.TurnOffTo, new { @id = "DeactiveToId", @class = "textbox", @type = "time", @step = "1" })
                </div>
            </div>
        </div>
        <div style="margin-top:4%"></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <button type="button" class="btn btn-primary btn1" onclick="Reload()">Cancel</button>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <button type="button" class="btn btn-primary btn1" onclick="UpdateShareResourceSetting()">Update</button>
            </div>
        </div><div style="margin-top:2%"></div>
        <span id="SettingsValidationMessage" style="color:red!important"></span>
    </div>
</section>