﻿@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;

@if (Context.Session.GetString("Username") == null)
{
    IgnoreBody();
    Context.Response.Redirect(Url.Action("DAppLogin", "Account", new { area = "" }));

}
else
{

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - DAPP</title>

        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        @*<link href="~/ Content/bootstrap.css" rel="stylesheet" />*@
        <link href="~/Content/Common.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/admin-lte/css/skins/_all-skins.css" rel="stylesheet" />


        <script src="~/js/modernizr-2.8.3.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/admin-lte/js/adminlte.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/bootbox.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
        <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/devextreme/cldr.js"></script>
        <script src="~/js/devextreme/cldr/event.js"></script>
        <script src="~/js/devextreme/cldr/supplemental.js"></script>
        <script src="~/js/devextreme/cldr/unresolved.js"></script>
        <script src="~/js/devextreme/globalize.js"></script>
        <script src="~/js/devextreme/globalize/message.js"></script>
        <script src="~/js/devextreme/globalize/number.js"></script>
        <script src="~/js/devextreme/globalize/currency.js"></script>
        <script src="~/js/devextreme/globalize/date.js"></script>
        <!-- Uncomment to enable the client-side export feature -->
        <!-- script src="~/js/devextreme/jszip.js"></script -->
        <!-- Uncomment to provide geo-data for the VectorMap widget -->
        <!-- script src="~/js/devextreme/vectormap-data/world.js"></script -->
        <script src="~/js/devextreme/dx.all.js"></script>
        <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
        <script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>



        <link rel="shortcut icon" href="~/Content/Images/favicon-16x16.png">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">

        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->

                <div class="logo" style="height: 59px; background-color:white;">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img src="~/Content/Images/Logo32x32.png" /></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img style="width:55%;" src="~/admin-lte/img/Design/e-Risk_logo.png" /></span>
                </div>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" id="SideMenu" data-toggle="push-menu" role="button" style="padding:20px 15px">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-header col-md-4 col-xs-8 col-sm-9" id="PageHeader"></div>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            @*<li><div class="pull-left" id="PageHeader"></div></li>*@
                            <!-- Notifications: style can be found in dropdown.less -->

                            <li>
                                <a href='@Url.Action("DAppLogin", "Account")'>
                                    <svg version="1.1" id="NotificationIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="25" height="25" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve" style="fill:white; -ms-transform: rotate(180deg);     -webkit-transform: rotate(180deg); transform: rotate(180deg);">
                                    <path d="M34.682 108.531h98.742c4.705 0 8.523-3.819 8.523-8.531 0-4.71-3.817-8.531-8.523-8.531H34.682l11.019-11.03a8.532 8.532 0 0 0 0-12.063 8.514 8.514 0 0 0-12.051 0L8.085 93.965c-.2.2-.386.406-.563.622-.042.053-.082.109-.123.165a7.094 7.094 0 0 0-.375.505c-.033.053-.061.105-.094.158a7.048 7.048 0 0 0-.336.561c-.019.036-.036.078-.058.117a8.111 8.111 0 0 0-.3.639c-.011.025-.019.053-.031.08-.092.23-.178.464-.25.702-.011.031-.016.061-.025.092-.069.236-.13.472-.18.717-.013.073-.019.144-.033.22a7.997 7.997 0 0 0-.133 1.458c0 .286.014.569.044.852.02.208.056.411.089.614.014.072.019.144.033.214.05.245.112.483.18.722.009.028.014.056.023.084.075.241.16.478.252.708.011.025.019.053.031.077.089.22.194.433.303.641l.055.114c.102.194.219.38.338.564.031.05.058.102.092.152.116.176.247.342.375.508.041.055.08.112.122.164.178.214.363.422.56.619l25.568 25.59a8.49 8.49 0 0 0 6.025 2.5c2.18 0 4.361-.833 6.025-2.5a8.532 8.532 0 0 0 0-12.063l-11.017-11.03zm0 0" />
                                   <path d="M123.367 30.217c-23.262 0-44.908 11.552-57.9 30.9-2.624 3.91-1.587 9.211 2.32 11.841a8.518 8.518 0 0 0 11.829-2.324c9.818-14.623 26.173-23.355 43.751-23.355 29.041 0 52.67 23.652 52.67 52.722 0 29.072-23.629 52.721-52.67 52.721-17.525 0-33.855-8.692-43.681-23.249a8.515 8.515 0 0 0-11.832-2.294 8.535 8.535 0 0 0-2.292 11.844c13.001 19.261 34.61 30.761 57.805 30.761 38.441 0 69.715-31.303 69.715-69.783 0-38.478-31.274-69.784-69.715-69.784zm0 0" /></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar" style="padding-top:70px;">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/Content/Images/Profile.gif" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@Context.Session.GetString("User").ToString()</p>
                            @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
                        </div>
                    </div>

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li id="MyDeviceId">
                            <a href='@Url.Action("DeviceDetails", "Mydevices", new { username = @Context.Session.GetString("Username").ToString() })'>
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 200 200" viewBox="30 0 200 170" width="25" height="22"><g fill="#FFF"><path d="M104.624 117.855a1.874 1.874 0 1 0 0-3.748H45.299a.285.285 0 0 1-.278-.278v-68.53c0-.148.131-.278.278-.278h90.41c.147 0 .278.131.278.278v32.988a1.875 1.875 0 0 0 3.748 0V45.299a4.03 4.03 0 0 0-4.027-4.027h-90.41a4.03 4.03 0 0 0-4.027 4.027v68.529a4.032 4.032 0 0 0 4.027 4.027h33.785v11.319h-14.41a1.873 1.873 0 1 0 0 3.748h39.951a1.875 1.875 0 0 0 0-3.748h-2.701v-11.319h2.701zm-6.45 11.319H82.832v-11.319h15.342v11.319zm0 0" /><path d="M104.624 101.403h-53.98a1.873 1.873 0 1 0 0 3.748h53.98a1.874 1.874 0 1 0 0-3.748zm0 0M154.701 83.91h-40.428a4.03 4.03 0 0 0-4.027 4.027v66.765a4.03 4.03 0 0 0 4.027 4.027h40.428a4.03 4.03 0 0 0 4.027-4.027V87.937a4.03 4.03 0 0 0-4.027-4.027zm-40.706 11.246h40.984v44.83h-40.984v-44.83zm.278-7.498h40.428c.148 0 .278.129.278.278v3.47h-40.984v-3.47c0-.148.131-.278.278-.278zm40.428 67.322h-40.428a.285.285 0 0 1-.278-.278v-10.968h40.984v10.968a.285.285 0 0 1-.278.278zm0 0" /><path d="M138.235 147.482h-7.497a1.875 1.875 0 0 0 0 3.748h7.497a1.873 1.873 0 1 0 0-3.748zm0 0" /></g><path clip-rule="evenodd" fill="none" d="M100 5.5c52.191 0 94.5 42.309 94.5 94.5s-42.309 94.5-94.5 94.5S5.5 152.191 5.5 100 47.809 5.5 100 5.5z" /></svg>
                                <span>My Devices</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">

                                <svg version="1.1" id="NotificationIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="25" height="20" viewBox="100 -15 100 210" enable-background="new 0 0 200 200" xml:space="preserve" style="font-weight:bolder;">
                                <g fill="#FFF"><path d="M62.031 40l-6.25-9.955a82.64 82.64 0 0 0-10.16 7.52l7.703 8.89A71.458 71.458 0 0 1 62.031 40zM45.691 54.165l-8.967-7.603a82.977 82.977 0 0 0-7.42 10.237l10.025 6.15a71.129 71.129 0 0 1 6.362-8.784zM76.002 123.306c0-12.989 10.53-23.519 23.519-23.519s23.519 10.53 23.519 23.519v23.519h11.76v-23.519a35.279 35.279 0 0 0-18.269-30.887c8.97-9.395 8.626-24.282-.768-33.253s-24.282-8.626-33.253.768c-8.679 9.089-8.679 23.395 0 32.484a35.28 35.28 0 0 0-18.269 30.887v23.519h11.76v-23.518zm23.519-58.799c6.495 0 11.76 5.265 11.76 11.76s-5.265 11.76-11.76 11.76-11.76-5.265-11.76-11.76 5.265-11.76 11.76-11.76z" /><path d="M181.539 93.907c-2.961-40.761-35.377-73.178-76.138-76.138V5.709h-11.76v12.054a81.517 81.517 0 0 0-26.677 6.397l4.657 10.801a69.716 69.716 0 0 1 22.02-5.439v11.466h11.76v-11.46c34.28 2.906 61.473 30.099 64.379 64.379h-11.46v11.76h11.46c-2.906 34.28-30.099 61.473-64.379 64.379v-11.46h-11.76v11.46c-34.28-2.906-61.473-30.099-64.379-64.379h11.46v-11.76H29.251a69.752 69.752 0 0 1 5.139-21.303l-10.854-4.539a81.554 81.554 0 0 0-6.044 25.842H5.443v11.76h12.06c2.961 40.761 35.377 73.178 76.138 76.138v12.06h11.76v-12.06c40.761-2.961 73.178-35.377 76.138-76.138h12.06v-11.76h-12.06z" /></g></svg>

                                <span>e-Risk Resource Pool</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" style="padding-left: 25px; ">
                                <li id="DashboardId"><a href='@Url.Action("Dashboard", "ResourcePool")'> Dashboard </a></li>
                                <li id="ShareResourceId"><a href='@Url.Action("ShareResource", "ResourcePool")'> Share Resource </a></li>
                                @*<li id="UseResourceId"><a href='@Url.Action("UseResource", "ResourcePool")'> Use Resource </a></li>*@
                            </ul>
                        </li>
                        <li id="SettingsId">
                            <a href='@Url.Action("ResourceShareSetting", "DAppSetting")'>
                                <svg version="1.1" id="NotificationIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="22" height="18" viewBox="90 -15 100 210" enable-background="new 0 0 200 200" xml:space="preserve" style="font-weight:bolder;">
                                <defs><path id="a" d="M5.503 5.76h188.102v188.573H5.503z" /></defs><clipPath id="b"><use xlink:href="#a" overflow="visible" /></clipPath><path clip-path="url(#b)" fill="#FFF" d="M184.052 80.018l-13.208-2.242a74.659 74.659 0 0 0-5.307-12.814l7.784-10.89c3.301-4.639 2.791-10.968-1.257-14.977L160.349 27.38c-2.201-2.201-5.111-3.421-8.217-3.421-2.436 0-4.756.747-6.722 2.164l-10.928 7.783c-4.246-2.242-8.687-4.088-13.287-5.465l-2.201-13.05a11.615 11.615 0 0 0-11.478-9.711h-16.55a11.613 11.613 0 0 0-11.48 9.711l-2.279 13.365a72.63 72.63 0 0 0-12.776 5.386l-10.81-7.785a11.544 11.544 0 0 0-6.762-2.161c-3.106 0-6.054 1.219-8.215 3.421L26.888 39.331c-4.01 4.01-4.561 10.339-1.257 14.978l7.862 11.046a72.666 72.666 0 0 0-5.229 12.855l-13.05 2.199a11.615 11.615 0 0 0-9.711 11.48v16.55a11.613 11.613 0 0 0 9.711 11.478l13.365 2.281a72.757 72.757 0 0 0 5.386 12.776l-7.745 10.77c-3.302 4.639-2.791 10.968 1.257 14.978l11.715 11.714c2.201 2.202 5.111 3.421 8.217 3.421 2.436 0 4.757-.746 6.722-2.161l11.046-7.862c3.97 2.082 8.137 3.774 12.421 5.109l2.201 13.208a11.615 11.615 0 0 0 11.479 9.711h16.59a11.612 11.612 0 0 0 11.479-9.711l2.24-13.208a74.454 74.454 0 0 0 12.816-5.307l10.889 7.783a11.546 11.546 0 0 0 6.76 2.164c3.106 0 6.016-1.219 8.217-3.421l11.715-11.715a11.637 11.637 0 0 0 1.257-14.978l-7.783-10.929c2.163-4.127 3.971-8.411 5.307-12.814l13.208-2.201a11.612 11.612 0 0 0 9.711-11.479V91.497c.078-5.701-4.01-10.536-9.632-11.479zm-.904 28.028c0 .511-.353.942-.864 1.021l-16.511 2.753a5.277 5.277 0 0 0-4.246 3.893 62.988 62.988 0 0 1-6.839 16.471 5.316 5.316 0 0 0 .234 5.778l9.711 13.68c.274.394.236.983-.117 1.338l-11.715 11.715a1.005 1.005 0 0 1-.749.313.973.973 0 0 1-.589-.196l-13.64-9.711c-1.691-1.217-3.971-1.296-5.779-.234a62.974 62.974 0 0 1-16.471 6.839 5.22 5.22 0 0 0-3.893 4.246l-2.791 16.511a1.017 1.017 0 0 1-1.021.864H91.319c-.511 0-.944-.353-1.023-.864l-2.751-16.511a5.282 5.282 0 0 0-3.893-4.246c-5.62-1.455-11.046-3.695-16.118-6.605a5.453 5.453 0 0 0-2.672-.706c-1.061 0-2.164.314-3.067.983l-13.759 9.787c-.196.119-.392.198-.59.198-.157 0-.472-.04-.746-.315l-11.715-11.715c-.353-.353-.394-.904-.117-1.336l9.67-13.563a5.384 5.384 0 0 0 .236-5.818c-3.067-5.109-5.426-10.653-6.92-16.432-.551-2.004-2.202-3.537-4.246-3.891l-16.628-2.831a1.017 1.017 0 0 1-.863-1.021V91.89c0-.513.353-.944.863-1.023l16.393-2.75c2.084-.355 3.773-1.887 4.286-3.931 1.453-5.78 3.695-11.361 6.722-16.511a5.25 5.25 0 0 0-.276-5.739l-9.787-13.759a1.068 1.068 0 0 1 .117-1.336L46.15 35.126a.994.994 0 0 1 .746-.315c.236 0 .434.079.591.196l13.561 9.67a5.38 5.38 0 0 0 5.818.236c5.111-3.065 10.653-5.424 16.432-6.918 2.004-.551 3.538-2.202 3.891-4.246l2.831-16.628a1.016 1.016 0 0 1 1.021-.865h16.552c.511 0 .942.353 1.021.865l2.752 16.393c.353 2.083 1.887 3.773 3.931 4.284a63.804 63.804 0 0 1 16.865 6.92 5.312 5.312 0 0 0 5.778-.236l13.563-9.749c.196-.119.394-.198.589-.198.158 0 .472.04.747.314l11.715 11.715c.353.355.393.904.119 1.338l-9.711 13.64c-1.219 1.691-1.297 3.971-.236 5.779 3.067 5.15 5.346 10.692 6.841 16.471a5.215 5.215 0 0 0 4.244 3.891l16.511 2.791c.511.079.866.513.866 1.023v16.549h-.04zm0 0" /><path fill="#FFF" d="M99.613 59.144c-22.406 0-40.608 18.2-40.608 40.608 0 22.406 18.202 40.606 40.608 40.606 22.408 0 40.608-18.2 40.608-40.606 0-22.407-18.201-40.608-40.608-40.608zm0 70.602c-16.55 0-29.994-13.444-29.994-29.994 0-16.549 13.444-29.996 29.994-29.996 16.549 0 29.994 13.446 29.994 29.996-.001 16.55-13.445 29.994-29.994 29.994zm0 0" /></svg>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <div style="padding:3% 3% 3% 3%; background-color:#eee;">
                    @RenderBody()
                </div>

            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> @System.Reflection.Assembly.GetAssembly(typeof(DAPP.Controllers.HomeController)).GetName().Version.ToString()
                </div>
                <strong>Copyright &copy; @DateTime.Now.Year.</strong> All rights
                reserved.
            </footer>

            <div id="LoadingPanel"></div>
        </div>

        @*<environment names="Development,Staging,Production">*@
        @*<script src="~/js/modernizr-2.8.3.js"></script>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
            <script src="~/admin-lte/js/adminlte.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
        @*</environment>*@
        @*<environment exclude="Development">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>*@

        @RenderSection("Scripts", required: false)
    </body>
</html>
}