﻿@model DAPP_Model.Accounts.DAppLoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <title>Login - eRisk DAPP</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" asp-append-version="true">
    <script src="~/DAppScripts/DAppLogin.js"></script>
    <link href="~/Content/DAppLogin.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/Common.css" rel="stylesheet" asp-append-version="true" />
    <link rel="shortcut icon" href="~/Content/Images/favicon-16x16.png" asp-append-version="true">

</head>
<body>

    <div id="LoadingPanel"></div>

    <div class="row row-first">
        <img id="logo" src="~/Content/Images/cervais_logo.png" />
    </div>
    <div class="wrap col-md-4 col-lg-4 col-sm-6 col-md-offset-4 col-lg-offset-4 col-sm-offset-3">
        <div class="panel panel-default">
            <section id="loginForm">
                @Html.AntiForgeryToken()
                <div class="panel-heading">
                    <div class="image">
                        @*<img id="eRiskLogo" src="~/Content/Images/e-Risk-Dapp_logo.png" />*@
                        <img id="eRiskLogo" src="~/Content/Images/e-Risk-Dapp_logo.png" />
                    </div>
                </div><br />
                <div class="panel-body">

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.URL, new { @class = "form-control", @placeholder = "URL", @Id = "APIURL" })
                        <span id="URLError" style="color:red!important"></span>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", @placeholder = "Customer ID", @Id = "Customerid" })
                        <span id="CustomerIdError" style="color:red!important"></span>
                    </div>
                    <div class="form-group" style="margin-top:11%!important">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Password", @Id = "Passwordval" })
                        <span id="PasswordError" style="color:red!important"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12 col-lg-12 " style="float:left;padding:0!important;display:inline!important;margin-top:5%!important" onclick="$(this).attr('value', this.checked ? true : false)">
                            <label id="CheckBoxId">
                                @Html.TextBoxFor(m => m.IsRemember, new { @type = "checkbox", onclick = "$(this).attr('value', this.checked ? true : false)", @Id = "IsRememberId" })
                                <span>@Html.Label("Remember Me", "Remember Me", new { @class = "label" })</span>
                            </label>
                        </div>
                        @*<div class="col-md-6 col-xs-6 text-right" style="display:inline!important;padding:0!important;">
                                @Html.ActionLink("Forgot Password ?", "ForgotPassword", new { @id = "ForgotPswdId" })
                            </div>*@
                    </div><br />
                    <div class="form-group" style="margin-top:12%!important">
                        <div class="col-xs-12 col-md-12 col-lg-12 " style="padding:0">
                            <input data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> signing in" id="SubmitForm" type="submit" value="LOGIN" class="btn btn-default btn1" onclick="Login()"/> 
                            <span id="CredentialError" style="color:red!important"></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>


</html>

