﻿@model DAPP_Model.ERiskDApp.DashboardModel
<div class="panel panel-default">
    <div style="padding-bottom:1%;">
        <center><h3> Processing</h3></center>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="info-box bg-Custom-blue">
                <span class="info-box-number">@Html.DisplayFor(m => m.RAMAvailabity) GB</span>
            </div>
            <div class="label">Availabilty</div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-Custom-blue">
                <span class="info-box-number">@Html.DisplayFor(m => m.RAMUtilization) GB</span>
            </div>
            <div class="label">Utilization</div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-Custom-blue">
                <span class="info-box-number">@Html.DisplayFor(m => m.RAMSurplus) GB</span>
            </div>
            <div class="label">Surplus</div>
        </div>
        @*<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-Custom-blue">
                    <span class="info-box-number">0 GB</span>
                </div>
                <div class="label">Shortfall</div>
            </div>*@
    </div>
</div>
<div class="panel panel-default">
    <div style="padding-bottom:1%;">
        <center><h3>Storage </h3> </center>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="info-box bg-Custom-red">
                <span class="info-box-number">@Html.DisplayFor(m => m.StoAvailabity) GB</span>
            </div>
            <div class="label">Availabilty</div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-Custom-red">
                <span class="info-box-number">@Html.DisplayFor(m => m.StoUtilization) GB</span>
            </div>
            <div class="label">Utilization</div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-Custom-red">
                <span class="info-box-number">@Html.DisplayFor(m => m.StoSurplus) GB</span>
            </div>
            <div class="label">Surplus</div>
        </div>
        @*<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-Custom-red">
                    <span class="info-box-number">0 GB</span>
                </div>
                <div class="label">Shortfall</div>
            </div>*@
    </div>
</div>
@*<div class="panel panel-default">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 ">
                <div class="info-box bg-Custom-green">
                    <span class="info-box-number">20 GHz</span>
                </div>
                <div class="label">Hash ID</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-Custom-green">
                    <span class="info-box-number">20 GHz</span>
                </div>
                <div class="label">Utilization</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-Custom-green">
                    <span class="info-box-number">20 GHz</span>
                </div>
                <div class="label">Session Length</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-Custom-green">
                    <span class="info-box-number">20 GHz</span>
                </div>
                <div class="label">Start Time</div>
            </div>
        </div>
    </div>*@
