﻿@model  DAPP_Model.ERiskDApp.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}
<head>
    <title></title>
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
    <script src="~/DAppScripts/Dashboard.js"></script>
    
</head>

    <section class="content-header ">
        <div class="row">
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.DeviceId, new SelectList(Model.DeviceNamelst,"Id","Text"), "--Select Device--", new { @id = "DeviceId", @class = "form-control", @name = "DevicesLst" ,@onchange="GetDashboardDetails()"})
            </div>
        </div>
</section>
<div style="margin-top:1%!important"></div>
<section class="content">
    <div id="DeviceAttributes"></div>
</section>

