﻿@model DAPP_Model.ERiskDApp.ResourcePoolModel
@{
    ViewBag.Title = "Share Resource";
}
<head>
    <title></title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootbox.min.js"></script>
    <link href="~/Content/ShareResource.css" rel="stylesheet" />
    <script src="~/DAppScripts/ShareResource.js"></script>

</head>
<section class="content">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-8 col-xs-offset-1 MarginLeft">
                <label class="radio-inline label ProcessingCustom">
                    <input type="radio" name="radiobutton" id="ProcessingCheckbox" checked="checked">Processing
                </label>
                <label class="radio-inline label">
                    <input type="radio" name="radiobutton" id="StorageCheckbox">Storage
                </label>
            </div>
        </div><div style="margin-top:3%!important"></div>
              <div id="ProcessingId">

                  <div class="row">
                      @Html.Label("DeviceId", "Share Resource From", new { @class = "label col-md-3 col-xs-6 col-sm-6 " })
                      <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                          @Html.DropDownListFor(m => m.DeviceId, new SelectList(Model.DeviceNamelst, "Id", "Text"), "-- Select Device --", new { @id = "DevicesLst", @class = "form-control", @name = "DevicesLst", @onchange = "DevicesDetails('RAM')" })
                      </div>
                      <span id="ProDevName" style="color:red!important;line-height:2;font-size:18px"></span>
                  </div><div style="margin-top:3%"></div>

                  <div class="row">
                      @Html.Label("TotalProcessingPower", "Total Processing Power", new { @class = "label col-md-3 col-xs-6 col-sm-6" })
                      <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12">
                          @Html.TextBoxFor(m => m.TotalProcessingPower, new { @type = "number", @id = "TotalprocessingpowerId", @class = "textbox", @readonly = true })
                          &nbsp;<span>GB</span>
                      </div><span id="ProPower" style="color:red!important"></span>
                  </div>
                  <div style="margin-top:3%"></div>

                  <div class="row">
                      @Html.Label("ShareProcessingPowerPercentage", "Share Processing Power", new { @class = "label col-lg-3 col-md-3 col-xs-12 col-sm-12" })
                      <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12">
                          @Html.TextBoxFor(m => m.ShareProcessingPowerPercentage, new { @type = "number", @id = "ShareProcessingPercentageId", @class = "textbox", @onchange = "CalProcessingUnit();" })
                          <span>&nbsp;Percentage&nbsp;=</span>
                      </div>
                      <div class="col-lg-3  col-md-4 col-xs-12 col-sm-12 UnitClass">
                          @Html.TextBoxFor(m => m.ShareProcessingPowerUnit, new { @id = "ShareProcessingUnitId", @class = "textbox", @readonly = true })
                          <span>GB</span>
                      </div>
                  </div>

                  <div style="margin-top:3%"></div>
                  <div class="row">
                      @Html.Label("SharedToDeviceId", "Share Resource To", new { @class = "label col-md-3 col-xs-6 col-sm-6  " })
                      <div class="col-md-3">
                          @Html.DropDownListFor(m => m.SharedToDeviceId, new SelectList(Model.DeviceNamelst, "Id", "Text"), "--Select Device--", new { @id = "ProcessingSharedToDeviceId", @class = "form-control", @name = "ProcessingSharedToDeviceId", @onchange = "ValidateSharedDevice('RAM')" })

                      </div>
                      <span id="prosharedToDev" style="color:red!important;line-height:2;font-size:18px"></span>
                  </div>

                  <div style="margin-top:4%"></div>
                  <div class="row" style="align-content:center!important;text-align:center!important">
                      <div class="col-md-3"></div>
                      <div class="col-md-3 col-xs-6 col-sm-6">
                          <button type="button" class="btn btn-primary btn1" onclick="ResetProcessing()">RESET</button>
                      </div>
                      <div class="col-md-3 col-xs-6 col-sm-6">
                          <button type="button" class="btn btn-primary btn1" onclick="ShareResourceSave('RAM')">SAVE</button>
                      </div>
                  </div>
                  <div style="margin-top:2%"></div>
                  <span id="ValidationMessages" style="color:red!important"></span>
              </div>


        <div id="StorageId" style="display:none;">
            <div class="row">
                @Html.Label("DeviceId", "Share Resource From", new { @class = "label col-md-3 col-xs-6 col-sm-6  " })
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.DeviceId, new SelectList(Model.DeviceNamelst, "Id", "Text"), "--Select Device--", new { @id = "StoDevicesLst", @class = "form-control", @name = "stoDevicesLst", @onchange = "DevicesDetails('Storage')" })
                </div>
                <span id="StoDevName" style="color:red!important;line-height:2;font-size:18px"></span>
            </div>

            <div style="margin-top:3%"></div>
            <div class="row">
                @Html.Label("TotalStorage", "Total Storage", new { @class = "label col-md-3 col-xs-6 col-sm-6" })
                <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12">
                    @Html.TextBoxFor(m => m.TotalStorage, new { @type = "number", @id = "TotalStorageId", @class = "textbox", @readonly = true })
                    &nbsp;<span>GB</span>
                </div>
            </div>

            <div style="margin-top:3%"></div>
            <div class="row">
                @Html.Label("ShareStoragePercentage", "Share Storage", new { @class = "label col-lg-3 col-md-3 col-xs-12 col-sm-12" })
                <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12">
                    @Html.TextBoxFor(m => m.ShareStoragePercentage, new { @type = "number", @id = "ShareStoragePerId", @class = "textbox", @onchange = "CalStorageUnit();" })
                    <span>&nbsp;Percentage&nbsp;=</span>
                </div>
                <div class="col-lg-3  col-md-4 col-xs-12 col-sm-12 UnitClass">
                    @Html.TextBoxFor(m => m.ShareStorageUnit, new { @id = "ShareStorageUnitId", @class = "textbox", @readonly = true })
                    <span>GB</span>
                </div>
            </div>

            <div style="margin-top:3%"></div>
            <div class="row">
                @Html.Label("SharedToDeviceId", "Share Resource To", new { @class = "label col-md-3 col-xs-6 col-sm-6  " })
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.SharedToDeviceId, new SelectList(Model.DeviceNamelst, "Id", "Text"), "--Select Device--", new { @id = "StoSharedToDeviceId", @class = "form-control", @name = "SharedToDeviceId", @onchange = "ValidateSharedDevice('Storage')" })

                </div>
                <span id="StoSharedToDevName" style="color:red!important;line-height:2;font-size:18px"></span>
            </div>

            <div style="margin-top:4%"></div>
            <div class="row" style="align-content:center!important;text-align:center!important">
                <div class="col-md-3"></div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <button type="button" class="btn btn-primary btn1" onclick="ResetStorage()">RESET</button>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <button type="button" class="btn btn-primary btn1" onclick="ShareResourceSave('Storage')">SAVE</button>
                </div>
            </div>
        </div>
        <div style="margin-top:2%"></div>
        <span id="StoValidationMessages" style="color:red!important"></span>
    </div>
</section>

<div class="box box-info">
    <div class="box-body">
        <div class="table-responsive" id="ShareResourceGrid">
            @{Html.RenderPartial("ShareResourceGrid");}
        </div>
    </div>
</div>
@*<section>
    <div id="ShareResourceGrid" style="overflow:auto!important; min-width: 400px;"></div>*@
@*<div id="ShareResourceStorageGrid" style="overflow:auto!important"></div>*@
@*</section>*@
