﻿@using Microsoft.AspNetCore.Http;

@(Html.DevExtreme().DataGrid<DAPP_Model.ERiskDApp.ShareResourceGrid>()
                                                        .ID("gridShareddevice")
                                                          .DataSource(d => d
                                                            .Mvc()
                                                            .Controller("DevicedetailsGridAPI")
                                                            .LoadAction("SharedResourceList")
                                                            .Key("Id")
                                                            .LoadParams(new { Username = Context.Session.GetString("Username") })
                                                        )
                                                        .RemoteOperations(true)
                                                        .Columns(columns =>
                                                        {

                                                        columns.AddFor(m => m.DeviceName)
                                                                     .Caption("Share Resource From");

                                                        columns.AddFor(m => m.ResourceType)
                                                                    .Caption("Resource Type");


                                                        columns.AddFor(m => m.TotalAvailability)
                                                                   .Caption("Total Availability");

                                                        columns.AddFor(m => m.ShareResource)
                                                                   .Caption("Shared Storage/Processing");

                                                        columns.AddFor(m => m.ShareStatus)
                                                              .Caption("Is Sharing Stopped")
                                                              .DataType(GridColumnDataType.Boolean);

                                                        columns.Add().DataField("SharedToDeviceName").Caption("Share Resource To")
                                                                     .Alignment(HorizontalAlignment.Left);

                                                        columns.Add().DataField("ShareStatus").Caption("")
                                                                     .CellTemplate(
                                                                        @<text>
                                                                            <% if (value != true) { %>

                                                                            <a href="@Url.Action("Edit")/<%= data.Id%>" onclick="StopResourceSharing('<%= data.Id%>'); return false;">Stop Sharing</a>
                                                                            <% } %>
                                                                        </text>)
                                                                     .Alignment(HorizontalAlignment.Center);

                                                                    })
                                                                    .FilterRow(f => f.Visible(true))
                                                                    .HeaderFilter(f => f.Visible(true))
                                                                    .GroupPanel(p => p.Visible(true))
                                                                    //.Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                                                                    //.Height(500)
                                                                    .ShowBorders(true)
                                                                    .Grouping(g => g.AutoExpandAll(false))
                                                                    .Paging(paging => paging.PageSize(10))
                                                                    .Pager(pager =>
                                                                    {
                                                                        pager.ShowPageSizeSelector(true);
                                                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20 });
                                                                        pager.ShowInfo(true);
                                                                    })
                                                                    .FilterPanel(f => f.Visible(true))

)


@*@Html.DevExpress().GridView(settings =>
    {
        settings.Name = "ProcessingGrid";
        settings.KeyFieldName = "Id";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.CallbackRouteValues = new { Controller = "ResourcePool", Action = "ShareResourceGrid" };

        //settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        //settings.Settings.VerticalScrollableHeight = 350;
        //settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
        //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
        //settings.Settings.ColumnMinWidth = 150;

        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Auto;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsContextMenu.EnableRowMenu = DefaultBoolean.False;



        settings.SettingsBehavior.AllowDragDrop = true;
        settings.SettingsBehavior.AllowGroup = true;
        settings.SettingsBehavior.AllowSort = true;
        settings.Settings.ShowGroupPanel = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.AllowFocusedRow = true;

        //row filter settings
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowFilterRowMenu = true;

        //paggig settings
        settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "20", "50", "100", "200", "500", "1000", "2000" };
        settings.SettingsPager.PageSize = 15;

        settings.SettingsBehavior.EnableCustomizationWindow = true;

        //cookie setting
        //settings.SettingsCookies.StoreFiltering = true;
        //settings.SettingsCookies.StoreGroupingAndSorting = true;
        //settings.SettingsCookies.StorePaging = true;
        //settings.SettingsCookies.Enabled = true;
        //settings.SettingsCookies.StoreColumnsVisiblePosition = true;
        //settings.Styles.LoadingPanel.CssClass = "GridLoadingPanel";
        settings.SettingsLoadingPanel.Text = "";
        settings.Columns.Add(column =>
        {
            column.Caption = "Device Name";
            column.FieldName = "DeviceName";
            //column.Width = System.Web.UI.WebControls.Unit.Percentage(200);

        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Resource Type";
            column.FieldName = "ResourceType";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;
            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = CommonClass.ResourceType();
            comboBoxProperties.TextField = "Title";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
            comboBoxProperties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            comboBoxProperties.DropDownStyle = DropDownStyle.DropDownList;
            //column.Width = System.Web.UI.WebControls.Unit.Percentage(200);
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Total Resource Available";
            column.FieldName = "TotalAvailability";
            //column.Width = System.Web.UI.WebControls.Unit.Percentage(200);
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Shared Resource";
            column.FieldName = "ShareResource";
            //column.Width = System.Web.UI.WebControls.Unit.Percentage(200);
        });
        //settings.Columns.Add(column =>
        //{
        //    column.Caption = "User Name";
        //    column.FieldName = "CreatedBy";
        //});

        settings.SettingsPager.NumericButtonCount = 6;
        settings.Styles.Cell.Wrap = DefaultBoolean.False;

        settings.CellEditorInitialize = (s, e) =>
        {
            ((ASPxEdit)e.Editor).ValidationSettings.Display = Display.Dynamic;
        };
    }).Bind(Model).GetHtml()*@
@*BindToEF(string.Empty, string.Empty, (s, e) =>
    {
        e.QueryableSource = CommonClass.DB.ShareResourceDetails.Where(x=>x.CreatedBy == (Session["Username"].ToString()));
    }).GetHtml()*@

@*.Bind(Model).GetHtml()*@
