﻿@model DAPP_Model.ERiskDApp.UseResourceModel
@{
    ViewBag.Title = "Use Resource";
}
<head>
    <title></title>
    
    <link href="~/Content/UseResource.css" rel="stylesheet" />
    <script src="~/DAppScripts/UseResource.js"></script>
</head>
<section class="content">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-8 col-xs-offset-1 MarginLeft ">
                <label class="radio-inline label ProcessingCustom">
                    <input type="radio" name="radiobutton" id="ProcessingCheckbox" checked="checked">Processing
                </label>
                <label class="radio-inline label">
                    <input type="radio" name="radiobutton" id="StorageCheckbox">Storage
                </label>
            </div>
        </div><div style="margin-top:3%!important"></div>
        <div id="ProcessingId">
            <div class="row">
                @Html.Label("ProcDeviceName", "Device in need of resource", new { @class = "label col-lg-3 col-md-3 col-xs-6 col-sm-6 " })
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @*@Html.TextBoxFor(m=>m.ProcDeviceName,new { @id = "ProcDeviceName", @class = "textbox", @readonly = true })*@
                    @Html.DropDownListFor(m => m.ProcDeviceName, new SelectList(Model.ProcDeviceName), "-- Select Device --", new { @id = "RAMDeviceId", @class = "form-control", @name = "RAMDevicesLst", @onchange = "GetResourceDetails()" })
                </div>
            </div><div style="margin-top:3%"></div>
            <div class="row">
                <div>
                    @Html.Label("AvailableRAM", "Total Availability", new { @class = "label col-md-3 col-xs-6 col-sm-6  " })
                </div>
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @Html.TextBoxFor(m => m.AvailableRAM, new { @id = "AvailableRAMId", @class = "textbox", @readonly = true })
                </div>
                <div class="col-xs-1 col-sm-1 pull-left" style="padding-left:0;vertical-align: middle;line-height: 2;">GHz</div>
            </div>
            <div style="margin-top:3%"></div>
            <div class="row">
                <div>
                    @Html.Label("ProcTotalRequirement", "Total Requirement", new { @class = "label col-md-3 col-xs-6 col-sm-6  " })
                </div>
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @Html.TextBoxFor(m => m.ProcTotalRequirement, new { @type = "number", @id = "TotalRequirementId", @class = "textbox" })
                </div>
                <div class="col-xs-1 col-sm-1 pull-left" style="padding-left:0;vertical-align: middle;line-height: 2;">GHz</div>
            </div>

            <div style="margin-top:3%"></div>
            <div class="row">
                @Html.Label("ProcDurationNeeded", "Duration Needed", new { @class = "label col-lg-3 col-md-3 col-xs-6 col-sm-6" })
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @Html.TextBoxFor(m => m.ProcDurationNeeded, new { @id = "DurationNeededId", @class = "textbox", @type = "time", @step = "1" })
                </div>
                @*&nbsp;<span>Hours &nbsp;=</span>
                    </div>
                    <div class="col-lg-3  col-md-4 col-xs-12 col-sm-12 UnitClass">
                        @Html.TextBox("DurationNeededMin", "", new { @id = "DurationNeededMinId", @class = "textbox" })
                       <span>Minutes</span>
                    </div>*@
            </div>

            <div style="margin-top:4%"></div>
            <div class="row" style="align-content:center!important;text-align:center!important">
                <div class="col-md-3"></div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <button type="button" class="btn btn-primary btn1" onclick="ProcessingReset()">RESET</button>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <button type="button" class="btn btn-primary btn1" onclick="UpdateProcessing()">Start Using</button>
                </div>
            </div><div style="margin-top:2%"></div>
            <span id="ValidationMessage" style="color:red!important"></span>
        </div>

        <div id="StorageId">
            <div class="row">
                @Html.Label("StorDeviceName", "Device in need of resource", new { @class = "label col-lg-3 col-md-3 col-xs-6 col-sm-6 " })
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @*@Html.TextBoxFor(m => m.StorDeviceName, new { @id = "StoDeviceName", @class = "textbox", @readonly = true })*@
                    @Html.DropDownListFor(m => m.StorDeviceName, new SelectList(Model.StorDeviceName), "-- Select Device --", new { @id = "StorageDeviceId", @class = "form-control", @name = "StorageDevicesLst", @onchange = "GetStorageShared()" })
                </div>
            </div><div style="margin-top:3%"></div>
            <div class="row">
                <div>
                    @Html.Label("AvailableStorage", "Total Availability", new { @class = "label col-md-3 col-xs-6 col-sm-6  " })
                </div>
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @Html.TextBoxFor(m => m.AvailableStorage, new { @id = "AvailableStorageId", @class = "textbox", @readonly = true })
                </div>
                <div class="col-xs-1 col-sm-1 pull-left" style="padding-left:0;vertical-align: middle;line-height: 2;">GB</div>
            </div>
            <div style="margin-top:3%"></div>
            <div class="row">
                <div>
                    @Html.Label("StorTotalRequirement", "Total Requirement", new { @class = "label col-md-3 col-xs-6 col-sm-6 " })
                </div>
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @Html.TextBoxFor(m => m.StorTotalRequirement, new { @type = "number", @id = "TotalRequirementStorId", @class = "textbox" })
                </div>
                <div class="col-xs-1 col-sm-1 pull-left" style="padding-left:0;vertical-align: middle;line-height: 2;">GB</div>
            </div>

            <div style="margin-top:3%"></div>
            <div class="row">
                @Html.Label("StorDurationNeeded", "Duration Needed", new { @class = "label col-lg-3 col-md-3 col-xs-6 col-sm-6  " })
                <div class="col-lg-3 col-md-4 col-xs-8 col-sm-6">
                    @Html.TextBoxFor(m => m.StorDurationNeeded, new { @id = "StoDurationNeededId", @class = "textbox", @type = "time", @step = "1", @value = "00:00:00" })
                    @*&nbsp;<span>Hours &nbsp;=</span>
                        </div>

                        <div class="col-lg-3  col-md-4 col-xs-12 col-sm-12 StoUnitClass">
                            @Html.TextBox("DurationNeededStorMin", "", new { @id = "DurationNeededStorMinId", @class = "textbox" })
                             <span>Minutes</span>*@
                </div>
            </div>

            <div style="margin-top:4%"></div>
            <div class="row" style="align-content:center!important;text-align:center!important">
                <div class="col-md-3"></div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <button type="button" class="btn btn-primary btn1" onclick="StorageReset()">RESET</button>
                </div>
                <div class="col-md-3 col-xs-6 col-sm-6">
                    <button type="button" class="btn btn-primary btn1" onclick="UpdateStorage()">START USING</button>
                </div>
            </div>
        </div><div style="margin-top:2%"></div>
        <span id="StoValidationMessage" style="color:red!important"></span>
    </div>
</section>
