﻿body {
    /*position: relative;*/
    min-height: 100vh;
    overflow: hidden;
    background-image: url('Images/Background.jpg');
    background-size: cover;
    padding: 0 !important;
}

#logo
{
    float:left!important;
    width:9%!important;
    margin-left:4%;
    margin-top:2%;
}
.wrap
{
    align-content:center!important;
    vertical-align:central!important;
    padding-left:5%;
    padding-right:5%;
}
.panel-body {
    padding: 27px!important;
}
.wrap .panel
{   
    margin-top:12%;  
    padding: 5%;
    background-color:white!important;
}

.panel-heading
{
    padding:0!important;
    background-color:white!important;
    border:hidden!important;
    text-align:center;
}

#eRiskLogo
{
    margin-top:9%!important;
    width:76%!important;
    height:12%!important;
}

input[type="checkbox"] 
{
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input[type="checkbox"] + span 
{
    /*font: 16pt sans-serif;*/
    /*color: black;*/
}

input[type="checkbox"] + span:before
 {
    font: 12pt FontAwesome;
    content: '\00f096';
    /*display: inline-block;*/
    /*width: 16pt;*/
    /*padding: 3px 15px;*/
    margin-right: 0.0em;
}

input[type="checkbox"]:checked + span:before
{
     content: '\00f046';
}

input[type="checkbox"]:focus + span:before
{
    outline: 1px dotted #aaa;
}

input[type="checkbox"]:disabled + span 
{
    /*color: #999;*/
}

/*input[type="checkbox"]:not(:disabled) + span:hover:before 
{
     text-shadow: 0 1px 2px #77F;
}*/
#FrgotPswdId
{
    margin-right:0!important;
    padding-right:0!important;
}

a
{
    color:black!important;
    font-weight: 400 !important;
}
#SubmitForm
{
    width:100%;
    background-color:#3C8DBC;
    /*margin-bottom:5%!important;*/
    color:white!important;
    margin-top:5%!important;
}
