﻿body {
}
.panel{
    background-color:white!important;
   padding: 2%!important;
}

#DevicesLst, #StoDevicesLst, #ProcessingSharedToDeviceId, #StoSharedToDeviceId {
    background-color: #DFDFDF;
}
.label{
    font:bold!important;
    text-align:left!important;
    margin-left:3%!important;
    line-height: 1.8!important;
}
.textbox{
        /*width: 54%!important;*/
          /*width:100%!important;*/
        align-content:center!important
   /*border: 	#DADADA!important;*/
}

input {
    line-height: 1.8!important;
    text-align: center;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-left: 24%!important;
}
/*@media (min-width:961px){
    .ProcessingCustom{
        margin-left:8%!important;
    }
}*/

 .radio-inline input[type="radio"] {

    margin-left: -38px;
}

 input[type="radio"], input[type="checkbox"] {
    margin-top: 3px!important;
}
 /*.Savenbtn{
     width:75%!important;
     padding-left:0!important;
     
 }
 .ResetBtn{
     width:75%!important
        
 }*/
@media (min-width: 992px) {
    .MarginLeft{
        margin-left: 29%!important;
    }
    .textbox {
        width: 54% !important;
    }
     .ResetBtn {
        margin-left: 5%!important;
    }
    .UnitClass,.StoUnitClass{
        padding-left:0!important;
        /*margin-left: -20px!important;*/      
    }
}
@media screen and (max-width : 768px){
    .UnitClass,.StoUnitClass{
        margin-top:1%!important;
        
    }
}
/*#ShareProcessingPowerId{
    width:100%!important;
}*/ 
